<!DOCTYPE html>
<html>
<head>
	<title>One</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="logo">
				<p>LOGO</p>
			</div>
			<div class="menu">
				<p>MENU</p>
			</div>
		</div>
		<div class="description">
			<p>DESCRIPTION</p>
		</div>
		<div class="info">
			<div class="one">
				<div class="clients">
				<P>CLIENTS</P>
			</div>
			<div class="projects">
				<P>PROJECTS</P>
			</div>
			</div>
			<div class="overview">
				<P>OVERVIEW</P>
			</div>
		</div>
		<div class="footer">
			<div class="about">
			<P>ABOUT US</P>
		</div>
		<div class="contact">
			<P>CONTACT</P>
		</div>
		</div>
	</div>

</body>
</html>