<!DOCTYPE html>
<html>
<head>
	<title>Two</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="list">
			<p>LIST</p>
		</div>
		<div class="info">
				<div class="search">
					<p>SEARCH</p>
				</div>
				<div class="introduction">
					<p>INTRODUCTION</p>
				</div>
				<div class="story">
					<p>SUCCESS STORY</p>
				</div>
				<div class="about">
					<p>ABOUT US</p>
				</div>
		</div>
		<div class="footer">
			<p>CONTACT</p>
		</div>

	</div>



	

</body>
</html>